In [1]:
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# LAB MODULE 2.
# Observational data in climate science
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Topics covered:
# (1) Organization of geospatial data in python
# (2) Operations in time
# (3) Operations in space 

# The purpose of this exercise is to (partially) replicate the process of 
# building of a global mean tempertaure anomaly curve from observations 

# Links: 
#   https://journals.ametsoc.org/doi/pdf/10.1175/1520-0450%281986%29025%3C0161%3ANHSATV%3E2.0.CO%3B2
#   https://www.metoffice.gov.uk/hadobs/crutem4/data/download.html  >>>  CRUTEM.4.6.0.0.station_files.zip

In [2]:
# Libraries

import os

# A bunch of other libraries that may be useful

import numpy as np
import pandas as pd
import geopandas as gpd

import datetime as dtm
from datetime import datetime

import matplotlib.pyplot as plt
import cartopy.crs as ccrs

Qua vengono caricate tutte le informazioni sul dataset

In [4]:
#-------------------------------------------------
#-- get info on database and files organization --
#-------------------------------------------------

flist = [os.path.join(path, name) for path, subdirs, files in os.walk("./CRUTEM.4.6.0.0.station_files/") for name in files]
for i in range(0,5):
    print (flist[i])

# exclude first 2 items, not relevant
flist=flist[2:]
print ('\n',flist[0:5])

nst=len(flist)
print ("\n > Number of stations = ",nst)

./CRUTEM.4.6.0.0.station_files/Index
./CRUTEM.4.6.0.0.station_files/61/616120
./CRUTEM.4.6.0.0.station_files/61/612913
./CRUTEM.4.6.0.0.station_files/61/612770
./CRUTEM.4.6.0.0.station_files/61/614010

 ['./CRUTEM.4.6.0.0.station_files/61/612913', './CRUTEM.4.6.0.0.station_files/61/612770', './CRUTEM.4.6.0.0.station_files/61/614010', './CRUTEM.4.6.0.0.station_files/61/618470', './CRUTEM.4.6.0.0.station_files/61/614420']

 > Number of stations =  10295

Notiamo quindi che abbiamo circa 10k stazioni

In [5]:
# Now let's have a look at one of them
# You can open the text files direclty with a text editor 
# Check as well the template with explanations: "crutem4_data_station_file_format.txt"

In [6]:
# Task 1 
# We need to import the data in python and organize them for further analyses and operations, both in time and space.

# Try to start thinking of a suitable way to organize this dataset, consisting of ~10,000 stations, each one having:
# - a unique identifier
# - string metadata (e.g. name, country)
# - numerical metadata (e.g. latitude, longitude, elevation) >> lat & lon are also the spatial dimensions we'll need
# - other metadata
# - a time series at monthly resolution oragnized as 2D tabs (year, month)

# Consider the data structures you know of, keeping in mind the final purpose that will require somehow 
# aggregating this dataset in time and space. 

# Bear in mind that this is real raw data that could have incomplete/erroneous file coding etc.
# Other than that, we will assume that all the reported data are correct and directly usable, 
#   considering the reality that time series have missing data and different time span.

In [7]:
# We will consider the actual time & space operation in the next stages.

Questi sono dati molto molto grezzi, come prima cosa cerchiamo di capire come aprirli, assumiamo che onon ci siano errori nel modo in cui sono stati acquisiti i dati, poi ce ne occuperemo.

In [14]:
dati = pd.read_csv("CRUTEM.4.6.0.0.station_files/01/010010", sep = ",")

In [18]:
metadati = dati.iloc[0:19]
metadati_corretti = pd.DataFrame(metadati['Number= 010010'].str.split('=',1).tolist(),
                                 columns = ['metadato','description'])

In [19]:
metadati_corretti

,metadato,description
0,Name,Jan Mayen
1,Country,NORWAY
2,Lat,70.9
3,Long,8.7
4,Height,10
5,Start year,1921
6,End year,2020
7,First Good year,1921
8,Source ID,56
9,Source file,Jones
10,Jones data to,2017
11,Normals source,Data
12,Normals source start year,1961
13,Normals source end year,1990
14,Normals,-5.7 -6.1 -6.1 -3.9 -0.7 2.0 4.2 5...
15,Standard deviations source,Data
16,Standard deviations source start year,1941
17,Standard deviations source end year,1990
18,Standard deviations,3.0 3.0 2.5 1.7 1.0 0.9 0.8 1...

In [26]:
for file in flist:
    test = pd.read_csv(file, sep = '\s+', skiprows=21, engine = 'python', header = None)
    break

In [30]:
test.iloc[:, list(range(13,  len(test.columns), 1))]

     13   14   15   16   17   18   19   20   21   22   23   24
0   506  506  506  506  506  506  506  506  506  506  506  506
1   506  506  506  506  506  506  506  506  506  506  506  506
2   506  506  506  506  506  506  506  506  506  506  506  506
3   506  506  506  506  506  506  506  506  506  506  506  506
4   506  506  506  506  506  506  506  506  506  506  506  506
5   506  506  506  506  506  506  506  506  506  506  506  506
6   506  506  506  506  506  506  506  506  506  506  506  506
7   506  506  506  506  506  506  506  506  506  506  506  506
8   506  506  506  506  506  506  506  506  506  506  506  506
9   506  506  506  506  506  506  506  506  506  506  506  506
10  506  506  506  506  506  506  506  506  506  506  506  506
11  506  506  506  506  506  506  506  506  506  506  506  506
12  506  506  506  506  506  506  506  506  506  506  506  506
13  506  506  506  506  506  506  506  506  506  506  506  506
14  506  506  506  506  506  506  506  506  506  506  506  506
15  506  506  506  506  506  506  506  506  506  506  506  506
16  506  506  506  506  506  506  506  506  506  506  506  506
17  506  506  506  506  506  506  506  506  506  506  506  506
18  506  506  506  506  506  506  506  506  506  506  506  506
19  506  506  506  506  506  506  506  506  506  506  506  506
20  506  506  506  506  506  506  506  506  506  506  506  506
21  506  506  506  506  506  506  506  506  506  506  506  506
22  506  506  506  506  506  506  506  506  506  506  506  506
23  506  506  506  506  506  506  506  506  506  506  506  506
24  506  506  506  506  506  506  506  506  506  506  506  506
25  506  506  506  -99  -99  -99  -99  506  506  506  506  506
26  506  506  506  506  506  506  506  506  506  506  506  506
27  506  506  506  506  506  506  506  506  506  506  506  506
28  506  506  506  506  506  506  506  506  506  506  506  506
29  506  506  506  506  506  506  506  506  506  506  506  506
30  506  506  506  506  506  506  506  506  506  506  506  506
31  506  506  506  506  506  506  506  506  506  506  506  506
32  506  506  506  506  506  506  506  506  506  506  506  506
33  506  506  506  506  506  506  506  -99  -99  506  506  506